/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: transparent;
    backdrop-filter: blur(10px);
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s, box-shadow 0.3s;
}

.nav-link:hover {
    box-shadow: none;
    /* Remove box-shadow on hover */
    color: #00ffff;
    /* Cyan */
}

#sidebar {
    width: 250px;
    height: 100%;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

#theme-toggle i {
    transition: color 0.3s;
}

footer a {
    transition: color 0.3s, box-shadow 0.3s;
    color: rgba(255, 255, 255, 0.7);
}

footer a:hover {
    color: #00ffff;
    /* Cyan */
    box-shadow: none;
    /* Remove box-shadow on hover */
}

.glow-effect {
    transition: box-shadow 0.3s;
}

.glow-effect:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
    /* Cyan glow */
}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animated-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: textFadeIn 3s infinite;
}

.word {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.word:nth-child(1) {
    animation-delay: 0s;
}

.word:nth-child(2) {
    animation-delay: 0.5s;
}

.word:nth-child(3) {
    animation-delay: 1s;
}

.word:nth-child(4) {
    animation-delay: 1.5s;
}

.word:nth-child(5) {
    animation-delay: 2s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes textFadeIn {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}