body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    margin-bottom: 20px;
}

section {
    margin-top: 20px;
}

#home {
    background: #333;
    color: #fff;
    padding: 100px 0;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #333;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item-left {
    left: 0;
}

.timeline-item-right {
    left: 50%;
}

.timeline-item-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.timeline-item-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.timeline-item-content {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline-item::after {
        left: 60px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-item-left,
    .timeline-item-right {
        left: 0%;
    }

    .timeline-item-right::before {
        right: 15px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline-item-left::before {
        left: 15px;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}